@import './variables.scss';


html, body {
font-family: $spartan;
font-size: 15px;
margin: 0;
}



body{
    background: $ligthGrayishCyanBG;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 50px;
}


#root {
    display: flex;      
    padding: 50px;
    justify-content: center;
}