@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

// fonts
$spartan: 'Spartan', sans-serif;


// colors
$veryDarkGrayishCyan:hsl(180, 14%, 20%);
$desaturatedDarkCyan:  hsl(180, 29%, 50%);
$darkGrayishCyan: hsl(180, 8%, 52%);
$ligthGrayishCyanBG: hsl(180, 52%, 96%);
$ligthGrayishCyanFT:  hsl(180, 31%, 95%);
